@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

.ff_poppins {
  font-family: 'Poppins';
}

.ff_LibreCaslon {
  font-family: 'Libre Caslon Text';
}

.bg-img {
  background-image: url(./assets/image/webp/bg-img.webp);
}

.box:hover span svg rect {
  fill: #88C701 !important;
  transition: all 500ms ease-in-out !important;
}

.box:hover span svg path {
  fill: white;
  transition: all 500ms ease-in-out !important;
}

.box_shadow {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 97.4%);
}

.box:hover .box_shadow {
  opacity: 1;
}

.box:hover .text_opcity {
  opacity: 0;
}

.bg_gradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F8EC 100%);
}

html,
body {
  scroll-behavior: smooth;
}
.over_hidden {
  overflow: hidden !important;
}
